.Header {
  background-color: #0B0B61;
  height: 150px;
  padding: 20px;
  color: white;
}

.Menu{

  margin: 0;
  padding: 0;
  list-style: none;

}

.Menu li{

  display: inline-block;
  padding-right: 10px;

}

.Menu li a{

  color: #CCC;
  text-decoration: none;

}

.Menu li a:hover{

  color: #EEE;
}
