body {
  margin: 0;
  padding: 0;
  background: #3B6CF1;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E1F5C4, #2E64FE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #EEEFF2, #3B6CF1); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
